@charset "UTF-8";
/**
 * 尺寸 基础尺寸
 * 命名能在语义的前提下简单就尽量简单, 这里可以是 size-2x, space-2x, size-base ...
 * 不过可以在语义的前提下做的更精简一些, 于是用了s2, s1等
 * 可用变量: `$s1 - $s8`
 * @example scss - 使用
 *   .element {
 *     padding: $s1 !default;
 *   }
 *
 * @example css - CSS 输出
 *   .element {
 *     padding: 4px !default;
 *   }
 */
.next-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  margin: -1px; }

.bt1px {
  position: relative; }
  .bt1px::before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    height: 0.6px;
    background: #fff;
    opacity: 0.5; }

.scenario-column {
  padding-top: 43px;
  text-align: center;
  background: #f5f9fe; }
  .scenario-column * {
    margin: 0;
    padding: 0; }
  .scenario-column h3 {
    font-family: Microsoft YaHei;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    color: #999;
    margin-bottom: 12px; }

.scenario-slider {
  display: inline-block;
  position: relative; }
  .scenario-slider .scenario-item {
    width: 112px;
    height: 158px;
    margin: 0 9px;
    font-size: 0;
    font-family: Microsoft YaHei;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
    border-radius: 4px;
    cursor: pointer;
    float: left; }
    .scenario-slider .scenario-item > img {
      margin: 15px 0;
      width: 60px;
      height: 60px;
      display: inline-block; }
    .scenario-slider .scenario-item > h4 {
      color: #373737;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px; }
    .scenario-slider .scenario-item > p {
      margin-top: 5px;
      color: #999;
      font-size: 12px;
      line-height: 15px; }
    .scenario-slider .scenario-item img.selected {
      display: none; }
    .scenario-slider .scenario-item.selected {
      background: #108ee9;
      -webkit-box-shadow: 0 40px 50px 0 rgba(16, 142, 233, 0.15);
              box-shadow: 0 40px 50px 0 rgba(16, 142, 233, 0.15); }
      .scenario-slider .scenario-item.selected > img {
        display: none; }
      .scenario-slider .scenario-item.selected img.selected {
        display: inline-block; }
      .scenario-slider .scenario-item.selected > h4 {
        color: #fff; }
      .scenario-slider .scenario-item.selected > p {
        color: #fff;
        opacity: 0.8; }

.scenario-detail-list {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  text-align: left;
  margin-top: 17px; }
  .scenario-detail-list::before {
    background: #979797; }
  .scenario-detail-list .scenario-detail-item {
    position: relative;
    display: none;
    top: 0;
    left: 0;
    padding-top: 78px; }
    .scenario-detail-list .scenario-detail-item.selected {
      display: block; }
    .scenario-detail-list .scenario-detail-item .scenario-detail-left {
      font-family: Microsoft YaHei;
      padding-left: 13px;
      padding-bottom: 12px;
      width: 570px; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left > h4 {
        margin-bottom: 16px;
        font-size: 32px;
        color: #333;
        line-height: 40px;
        font-weight: 400;
        vertical-align: bottom; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left > p {
        font-size: 12px;
        color: #333;
        line-height: 22px;
        max-width: 434px; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list li {
        list-style: none; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .ability-title {
        margin-top: 22px;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 20px;
        color: #999;
        font-weight: 400; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .ability-real-row {
        display: table; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .ability-desc {
        font-size: 12px;
        color: #333;
        line-height: 25px;
        max-width: 434px; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 68px;
        height: 69px;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #666;
        font-size: 14px;
        line-height: 18px; }
        .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item::before {
          background: #999;
          left: 0;
          top: 0;
          width: 65px;
          height: 65px;
          content: '';
          position: absolute;
          border-radius: 50%;
          opacity: 0.1; }
        .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item::after {
          right: 0;
          bottom: 0;
          border: 0.6px solid #999;
          width: 65px;
          height: 65px;
          content: '';
          position: absolute;
          border-radius: 50%;
          opacity: 0.1; }
        .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item.blue-circle {
          color: #108ee9; }
          .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item.blue-circle::before {
            background: #108ee9; }
          .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item.blue-circle::after {
            border-color: #108ee9; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-left .scenario-ability-list .circle-item-spacing {
        display: table-cell;
        font-size: 0;
        width: 14px; }
    .scenario-detail-list .scenario-detail-item .scenario-detail-right {
      width: 720px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 570px;
      overflow: hidden; }
      .scenario-detail-list .scenario-detail-item .scenario-detail-right > img {
        width: 100%;
        position: absolute;
        bottom: 0; }

.scenario-actions {
  background: #ecf3fd;
  text-align: center;
  display: none; }
  .scenario-actions.selected {
    display: block; }
  .scenario-actions .scenario-action {
    display: inline-block;
    margin: 30px 7px;
    padding: 12px 56px;
    font-family: PingFang SC;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #108ee9;
    text-decoration: none; }
    .scenario-actions .scenario-action.primary {
      background: #108ee9;
      color: #fff; }
    .scenario-actions .scenario-action.secondary {
      color: #108ee9;
      padding: 12px 45px; }

@charset "UTF-8";
/**
 * 尺寸 基础尺寸
 * 命名能在语义的前提下简单就尽量简单, 这里可以是 size-2x, space-2x, size-base ...
 * 不过可以在语义的前提下做的更精简一些, 于是用了s2, s1等
 * 可用变量: `$s1 - $s8`
 * @example scss - 使用
 *   .element {
 *     padding: $s1 !default;
 *   }
 *
 * @example css - CSS 输出
 *   .element {
 *     padding: 4px !default;
 *   }
 */
.next-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  margin: -1px; }

.hy-friends-list {
  max-width: 1920px;
  min-width: 1280px;
  margin: 0 auto;
  height: 400px; }
  .hy-friends-list * {
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  .hy-friends-list .hy-friends-item {
    position: relative;
    width: 12.5%;
    height: 100%;
    float: left;
    overflow: hidden;
    color: #fff;
    text-decoration: none; }
    .hy-friends-list .hy-friends-item::before {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: #1e3259;
      opacity: .73; }
    .hy-friends-list .hy-friends-item .hy-friends-img {
      position: relative;
      width: 1200px;
      height: 100%;
      left: 50%;
      margin-left: -600px; }
    .hy-friends-list .hy-friends-item h4 {
      position: absolute;
      z-index: 2;
      width: 100%;
      text-align: center;
      top: 167px;
      font-size: 26px;
      line-height: 1;
      opacity: .8;
      font-weight: 400;
      margin: 0;
      padding: 0; }
    .hy-friends-list .hy-friends-item span {
      position: absolute;
      z-index: 2;
      width: 100%;
      text-align: center;
      top: 210px;
      font-size: 14px;
      line-height: 18px;
      opacity: .7; }
    .hy-friends-list .hy-friends-item p {
      position: absolute;
      z-index: 2;
      width: 547px;
      top: 148px;
      left: 73px;
      opacity: 0;
      font-size: 14px;
      line-height: 22px; }
    .hy-friends-list .hy-friends-item .hy-friends-qr {
      position: absolute;
      z-index: 2;
      width: 80px;
      height: 80px;
      top: 213px;
      left: 73px;
      opacity: 0; }
    .hy-friends-list .hy-friends-item.selected {
      width: 62.5%; }
      .hy-friends-list .hy-friends-item.selected::before {
        background: #2e5399;
        opacity: .65; }
      .hy-friends-list .hy-friends-item.selected h4 {
        opacity: 1;
        top: 107px;
        left: 73px;
        text-align: left; }
      .hy-friends-list .hy-friends-item.selected span {
        top: 115px;
        left: 190px;
        opacity: 1;
        text-align: left; }
      .hy-friends-list .hy-friends-item.selected p {
        opacity: 1; }

